---
- include_tasks: "{{ ansible_facts.distribution }}-prepare.yml"

- name: "Create static network"
  ansible.builtin.template:
    src: en0.network.j2
    dest: /etc/systemd/network/{{ networkd_static.nic }}.network
    owner: root
    group: systemd-network
    mode: '0640'
  become: true
  when: networkd_static_ip is defined
  loop: "{{ networkd_static_ip }}"
  loop_control:
    loop_var: networkd_static

- name: Copy systemd-networkd configs
  ansible.builtin.copy:
    src: "{{ networkd_configs_dir }}"
    dest: /etc/systemd/network/
    owner: root
    group: systemd-network
    mode: '0640'
  become: true
  when: networkd_configs_dir is defined

- name: systemctl enable systemd-networkd
  ansible.builtin.systemd_service: name=systemd-networkd enabled=true
  become: true

- name: systemctl enable systemd-resolved
  ansible.builtin.systemd_service: name=systemd-resolved enabled=true
  become: true

