*
!/.gitignore
!/LICENSE
!/README.md

!/ansible.cfg
!/hosts.ini
!*_example*

!/roles
!/roles/**
!/tasks
!/tasks/*
!/host_vars
!/host_vars/*example.yml

!/arch_install.sh
!/fedora_post_install.sh
!/homed.sh
!/iommu.sh
