[Unit]
Description=docker-compose auto start
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/opt
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/bin/docker compose start -d
ExecStop=/usr/bin/docker compose stop

[Install]
WantedBy=multi-user.target
