#!/usr/bin/bash


{% if msmtp_to is defined and msmtp_from is defined %}
TO="{{ msmtp_to }}"
FROM="{{ msmtp_from }}"
SUBJECT="Auto-update $HOSTNAME $(/usr/bin/date '+%F %T')"
{% endif %}

# Check need reboot
NUM_PKG=$(/usr/bin/checkupdates | grep -E 'linux|systemd' | wc -l)
if [[ $NUM_PKG -eq 0 ]] ; then
    NEED_REBOOT=0
else
    NEED_REBOOT=1
fi

# Create empty auto-update.log
echo '' > /var/log/auto-update.log

{% if btrfs_scrub_time is defined %}
# systemctl is-active return 0 if at least one is active
/usr/bin/systemctl is-active --quiet --all "btrfs-scrub@*.service"
BTRFS_SCRUB_EXIT=$?
if [[ $BTRFS_SCRUB_EXIT -eq 0 ]] ; then
    echo "btrfs-scrub is running. Skipped update.\n" >> /var/log/auto-update.log
else
    # Update system
    echo "# pacman -Syu --noconfirm --nogrogressbar\n" >> /var/log/auto-update.log
    /usr/bin/pacman -Syu --noconfirm --noprogressbar &>> /var/log/auto-update.log
    echo "\n\n# checkservices -aP\n" >> /var/log/auto-update.log
    /usr/bin/checkservices -aP &>> /var/log/auto-update.log
    if [[ $NEED_REBOOT -eq 1 ]] ; then
        echo "\n\n# systemctl reboot" >> /var/log/auto-update.log
    fi
fi
{% else %}
# Update system
echo "# pacman -Syu --noconfirm --nogrogressbar\n" >> /var/log/auto-update.log
/usr/bin/pacman -Syu --noconfirm --noprogressbar &>> /var/log/auto-update.log
echo "\n\n# checkservices -aP\n" >> /var/log/auto-update.log
/usr/bin/checkservices -aP &>> /var/log/auto-update.log
if [[ $NEED_REBOOT -eq 1 ]] ; then
    echo "\n\n# systemctl reboot" >> /var/log/auto-update.log
fi
{% endif %}

{% if msmtp_to is defined and msmtp_from is defined %}
# send email
update_msg="$(cat /var/log/auto-update.log)"
echo -e "To: ${TO}\nFrom: ${FROM}\nSubject: ${SUBJECT}\n${update_msg}" | msmtp --read-recipients --read-envelope-from
while [[ $? -ne 0 ]]; do
    # if failed try resend 5min later
    sleep 300
    echo -e "To: ${TO}\nFrom: ${FROM}\nSubject: ${SUBJECT}\n${update_msg}" | msmtp --read-recipients --read-envelope-from
done
{% endif %}

sleep 5

{% if btrfs_scrub_time is defined %}
if [[ $BTRFS_SCRUB_EXIT -ne 0 && $NEED_REBOOT -eq 1 ]] ; then
    # Reboot if necessary
    systemctl reboot
fi
{% else %}
if [[ $NEED_REBOOT -eq 1 ]] ; then
    systemctl reboot
fi
{% endif %}

exit 0
