#!/usr/bin/bash

SUBJECT="Auto-update $HOSTNAME $(/usr/bin/date '+%F %T')"

{% if btrfs_scrub_time is defined %}
# systemctl is-active return 0 if at least one is active
/usr/bin/systemctl is-active --quiet --all "btrfs-scrub@*.service"
BTRFS_SCRUB_EXIT=$?
if [ $BTRFS_SCRUB_EXIT -eq 0 ] ; then
    UPDATE_MSG="${UPDATE_MSG}btrfs-scrub is running. Skipped update.\n"
else
    # Update system
    UPDATE_MSG="$(/usr/bin/pacman -Syu --noconfirm 2>&1)"
fi
{% else %}
# Update system
UPDATE_MSG="$(/usr/bin/pacman -Syu --noconfirm 2>&1)"
{% endif %}

# send email
echo -e "Subject:${SUBJECT}\n\n${UPDATE_MSG}" | msmtp -a default {{ msmtp_to }}

sleep 5

{% if btrfs_scrub_time is defined and auto_start_vm_list is defined %}
if [ $BTRFS_SCRUB_EXIT -ne 0 ] ; then
    # Reboot after update
    systemctl stop 'libvirt_start@*' --all
    systemctl reboot
else
    # Reboot all VMs
    systemctl restart 'libvirt_start@*' --all
fi
{% else %}
systemctl reboot
{% endif %}

exit 0
