---
- name: pacman -S flatpak
  community.general.pacman: name=flatpak state=present
  become: true
  when: ansible_facts["distribution"] == "Archlinux"

- name: dnf install flatpak
  ansible.builtin.dnf: name=flatpak state=present
  become: true
  when: ansible_facts["distribution"] == "Fedora"

- name: Add flathub repo
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
    method: user
  ignore_errors: "{{ ansible_check_mode }}"

- name: Install flatpak packages
  community.general.flatpak:
    name: "{{ flatpak_pkgs }}"
    state: present
    remote: flathub
    method: user
  ignore_errors: "{{ ansible_check_mode }}"

- name: setup systemd user directory
  ansible.builtin.file:
    path: "/home/{{ ansible_facts.user_id }}/.config/systemd/user"
    state: directory
    owner: "{{ ansible_facts.user_id }}"
    group: "{{ ansible_facts.user_id }}"
    mode: '0700'

- name: flatpak-update.service
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/home/{{ ansible_facts.user_id }}/.config/systemd/user/{{ item }}"
    owner: "{{ ansible_facts.user_id }}"
    group: "{{ ansible_facts.user_id }}"
    mode: '0600'
  loop:
    - flatpak-update.service
    - flatpak-update.timer
    - failure-notification@.service

- name: systemctl --user daemon-reload
  ansible.builtin.systemd_service: daemon_reload=true scope=user

- name: systemctl --user enable flatpak-update.timer
  ansible.builtin.systemd_service: name=flatpak-update.timer enabled=true scope=user
  ignore_errors: "{{ ansible_check_mode }}"

