---
# # Time zone
# TZ: "UTC"
#
# # Run podman under this users.
# # If the user does not exist it will create a new user.
# # To manage systemd services under different users add `-M username@` to `systemctl` command,
# # for example:
# #     sudo systemctl --user -M tux@ status gluetun.service
# # To view journal under different user with UID 10000
# #     sudo journalctl _UID=10000 _SYSTEMD_USER_UNIT=gluetun.service
# podman_users:
#
#   # Run Syncthing under user `tux`
#   - name: tux
#
#     # UID of the user
#     uid: 10000
#
#     # Enable lingering or not
#     enable_lingering: true
#
#     # How often to clean up old podman images/containers.
#     # This is the OnCalendar= option in podman-system-prune.timer
#     podman_system_prune_timer: daily
#
#     # List of containers that will run under user `tux`
#     containers:
#       - gluetun
#
#     # gluetun VPN provider env variables, here is a vanilla wireguard example.
#     # see https://github.com/qdm12/gluetun-wiki/tree/main/setup/providers
#     # and https://github.com/qdm12/gluetun-wiki/blob/main/setup/options/port-forwarding.md
#     gluetun_vpn_provider_env:
#       - VPN_SERVICE_PROVIDER=custom
#       - VPN_TYPE=wireguard
#       - VPN_ENDPOINT_IP='1.2.3.4'
#       - VPN_ENDPOINT_PORT=51820
#       - WIREGUARD_PUBLIC_KEY='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
#       - WIREGUARD_PRIVATE_KEY='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
#       - WIREGUARD_ADDRESSES='ipv4/mask,ipv6/mask'
#       - VPN_PORT_FORWARDING_LISTENING_PORT='1234'
#
#     # Optionally, enable gluetun http proxy with default HTTPPROXY_LISTENING_ADDRESS (8888)
#     # https://github.com/qdm12/gluetun-wiki/blob/main/setup/options/http-proxy.md
#     #gluetun_httpproxy: true

- name: setsebool -P container_use_devices=true
  ansible.posix.seboolean:
    name: container_use_devices
    state: true
    persistent: true
  when: ansible_facts["selinux"]["status"] == "enabled"
  become: true

- name: setsebool -P domain_kernel_load_modules=true
  ansible.posix.seboolean:
    name: domain_kernel_load_modules
    state: true
    persistent: true
  when: ansible_facts["selinux"]["status"] == "enabled"
  become: true

- name: gluetun.container
  ansible.builtin.template:
    src: gluetun.container.j2
    dest: "/home/{{ podman_user.name }}/.config/containers/systemd/gluetun.container"
    owner: "{{ podman_user.name }}"
    group: "{{ podman_user.name }}"
    mode: '0600'
  become: true
  become_user: "{{ podman_user.name }}"

- name: systemctl --user daemon-reload
  ansible.builtin.systemd_service: daemon_reload=true scope=user
  become: true
  become_user: "{{ podman_user.name }}"

- name: systemctl --user enable --now gluetun.service
  ansible.builtin.systemd_service: name=gluetun enabled=true state=started scope=user
  become: true
  become_user: "{{ podman_user.name }}"
  ignore_errors: "{{ ansible_check_mode }}"
