---
- name: setsebool -P container_use_devices=true
  ansible.posix.seboolean:
    name: container_use_devices
    state: true
    persistent: true
  when: ansible_facts["selinux"]["status"] == "enabled"
  become: true

- name: setsebool -P domain_kernel_load_modules=true
  ansible.posix.seboolean:
    name: domain_kernel_load_modules
    state: true
    persistent: true
  when: ansible_facts["selinux"]["status"] == "enabled"
  become: true

- name: gluetun.container
  ansible.builtin.template:
    src: gluetun.container.j2
    dest: "/home/{{ podman_user.name }}/.config/containers/systemd/gluetun.container"
    owner: "{{ podman_user.name }}"
    group: "{{ podman_user.name }}"
    mode: '0600'
  become: true
  become_user: "{{ podman_user.name }}"

- name: systemctl --user daemon-reload
  ansible.builtin.systemd: daemon_reload=true scope=user
  become: true
  become_user: "{{ podman_user.name }}"

- name: systemctl --user enable --now gluetun.service
  ansible.builtin.systemd: name=gluetun enabled=true state=started scope=user
  become: true
  become_user: "{{ podman_user.name }}"
  ignore_errors: "{{ ansible_check_mode }}"
