---
# # Time zone
# TZ: "UTC"
#
# # Run podman under this users.
# # If the user does not exist it will create a new user.
# # To manage systemd services under different users add `-M username@` to `systemctl` command,
# # for example:
# #     sudo systemctl --user -M tux@ status syncthing.service
# # To view journal under different user with UID 10000
# #     sudo journalctl _UID=10000 _SYSTEMD_USER_UNIT=syncthing.service
# podman_users:
#
#   # Run Syncthing under user `tux`
#   - name: tux
#
#     # UID of the user
#     uid: 10000
#
#     # Enable lingering or not
#     enable_lingering: true
#
#     # How often to clean up old podman images/containers.
#     # This is the OnCalendar= option in podman-system-prune.timer
#     podman_system_prune_timer: daily
#
#     # List of containers that will run under user `tux`
#     containers:
#       - syncthing
#
#     # syncthing Web UI port
#     syncthing_webui_port: 8384
#
#     # Path to store syncthing container config
#     syncthing_config_dir: "/path/to/container/config/syncthing"
#
#     # List of directories to map into syncthing container
#     syncthing_data_dirs:
#       - { src: /path/on/host/machine, dest: /path/in/container }
#       - { src: /another/path/on/host, dest: /another/path/in/container }

- name: syncthing container config direcoty
  ansible.builtin.file:
    path: "{{ podman_user.syncthing_config_dir }}"
    state: directory
    owner: "{{ podman_user.name}}"
    group: "{{ podman_user.name }}"
    mode: '0700'
  become: true

- name: syncthing.container
  ansible.builtin.template:
    src: syncthing.container.j2
    dest: "/home/{{ podman_user.name }}/.config/containers/systemd/syncthing.container"
    owner: "{{ podman_user.name}}"
    group: "{{ podman_user.name }}"
    mode: '0600'
  become: true
  become_user: "{{ podman_user.name }}"

- name: systemctl --user daemon-reload
  ansible.builtin.systemd: daemon_reload=true scope=user
  become: true
  become_user: "{{ podman_user.name }}"

- name: systemctl --user enable --now syncthing.service
  ansible.builtin.systemd: name=syncthing enabled=true state=started scope=user
  become: true
  become_user: "{{ podman_user.name }}"
  ignore_errors: "{{ ansible_check_mode }}"


# 22000/tcp    Syncthing Listening port
- name: add syncthing firewalld service file syncthing.xml
  ansible.builtin.copy:
    content: |
      <?xml version="1.0" encoding="utf-8"?>
      <service>
        <short>Syncthing</short>
        <description>Syncthing</description>
        <port protocol="tcp" port="22000"/>
      </service>
    dest: /etc/firewalld/services/syncthing.xml
    owner: root
    group: root
    mode: '0644'
  become: true
  register: syncthing_firewalld_file

- name: Reload firewalld when syncthing.xml changed
  ansible.builtin.command: firewall-cmd --reload
  become: true
  when: syncthing_firewalld_file.changed

- name: Set firewall rules for Syncthing Listening port (TCP)
  ansible.posix.firewalld:
    rich_rule: rule family="ipv4" source address="{{ item }}" service name="syncthing" accept
    #zone: "{{ firewalld_default_zone }}"
    permanent: true
    immediate: true
    state: enabled
  loop: "{{ podman_user.syncthing_accept_source_ipv4 }}"
  become: true
  when: podman_user.syncthing_accept_source_ipv4 is defined
