---
# # Time zone
# TZ: "UTC"
#
# # Run podman under this users.
# # If the user does not exist it will create a new user.
# # To manage systemd services under different users add `-M username@` to `systemctl` command,
# # for example:
# #     sudo systemctl --user -M tux@ status traefik.service
# # To view journal under different user with UID 10000
# #     sudo journalctl _UID=10000 _SYSTEMD_USER_UNIT=traefik.service
# podman_users:
#
#   # Run Syncthing under user `tux`
#   - name: tux
#
#     # UID of the user
#     uid: 10000
#
#     # Enable lingering or not
#     enable_lingering: true
#
#     # How often to clean up old podman images/containers.
#     # This is the OnCalendar= option in podman-system-prune.timer
#     podman_system_prune_timer: daily
#
#     # List of containers that will run under user `tux`
#     containers:
#       - traefik
#
#     # Path to store traefik container config
#     traefik_config_dir: "/path/to/container/config/traefik"
#
#     # traefik static config file
#     # see example at roles/podman/README.md
#     traefik_static_config: "files/traefik_static_config.yml"
#
#     # traefik dynamic config file
#     # see example at roles/podman/README.md
#     traefik_dynamic_config: "files/traefik_dynamic_config.yml"
#
#     # Allow traefik connect to these local ports on localhost
#     # These ports are added to traefik container with options Network=pasta:--tcp-ns
#     traefik_forward_ports:
#       - 11000
#       - 8088
#
#     # Optionally, add tailscale container.
#     # After service started, looking for authentication link in the journal
#     # sudo journalctl _UID=10003 _SYSTEMD_USER_UNIT=tailscale-traefik.service
#     traefik_tailscale_enable: true
#
#     # Path to store tailscale container config (If tailscale enabled)
#     traefik_config_dir: "/path/to/container/config/tailscale"
#
#     # Path to store letsencrypt container config
#     # If letsencrypt and traefik running as different users, traefik won't be
#     # able to access letsencrypt certificates, with advantage being traefik
#     # also won't have access to your DNS token.
#     # To accommodate this we create a copy-ssl.service running as root and
#     # only copy generated certificates to `{{ traefik_config_dir }}`.
#     letsencrypt_config_dir: "/path/to/container/config/letsencrypt"
#
#     # firewall rules only allow connection from these ipv4 address
#     https_accept_source_ipv4:
#       - 192.168.1.0/24
#       - 192.168.2.1

- name: Allow rootless podman access 443 port
  ansible.builtin.copy:
    content: |
      net.ipv4.ip_unprivileged_port_start=443
    dest: /etc/sysctl.d/unprivileged_port_start.conf
    owner: root
    group: root
    mode: '0644'
  become: true
  register: unprivileged_port_start

- name: sysctl net.ipv4.ip_unprivileged_port_start=443
  ansible.builtin.command: sysctl net.ipv4.ip_unprivileged_port_start=443
  become: true
  when: unprivileged_port_start is changed

- name: traefik config direcoty
  ansible.builtin.file:
    path: "{{ podman_user.traefik_config_dir }}"
    state: directory
    owner: "{{ podman_user.name}}"
    group: "{{ podman_user.name }}"
    mode: '0700'
  become: true

- name: tailscale config direcoty
  ansible.builtin.file:
    path: "{{ podman_user.tailscale_config_dir }}"
    state: directory
    owner: "{{ podman_user.name}}"
    group: "{{ podman_user.name }}"
    mode: '0700'
  become: true
  when:
    - podman_user.traefik_tailscale_enable is defined
    - podman_user.traefik_tailscale_enable

- name: traefik static config file
  ansible.builtin.copy:
    src: "{{ podman_user.traefik_static_config }}"
    dest: "{{ podman_user.traefik_config_dir }}/static_conf.yml"
    owner: "{{ podman_user.name}}"
    group: "{{ podman_user.name }}"
    mode: '0600'
  become: true

- name: traefik dynamic config file
  ansible.builtin.copy:
    src: "{{ podman_user.traefik_dynamic_config }}"
    dest: "{{ podman_user.traefik_config_dir }}/dynamic_conf.yml"
    owner: "{{ podman_user.name}}"
    group: "{{ podman_user.name }}"
    mode: '0600'
  become: true

- name: traefik.container
  ansible.builtin.template:
    src: traefik.container.j2
    dest: "/home/{{ podman_user.name }}/.config/containers/systemd/traefik.container"
    owner: "{{ podman_user.name}}"
    group: "{{ podman_user.name }}"
    mode: '0600'
  become: true
  become_user: "{{ podman_user.name }}"

- name: tailscale-traefik.container
  ansible.builtin.template:
    src: tailscale-traefik.container.j2
    dest: "/home/{{ podman_user.name }}/.config/containers/systemd/tailscale-traefik.container"
    owner: "{{ podman_user.name}}"
    group: "{{ podman_user.name }}"
    mode: '0600'
  become: true
  become_user: "{{ podman_user.name }}"
  when:
    - podman_user.traefik_tailscale_enable is defined
    - podman_user.traefik_tailscale_enable

- name: systemctl --user daemon-reload
  ansible.builtin.systemd: daemon_reload=true scope=user
  become: true
  become_user: "{{ podman_user.name }}"

- name: copy-ssl.service
  ansible.builtin.template:
    src: copy-ssl.service.j2
    dest: "/etc/systemd/system/copy-ssl.service"
    owner: "root"
    group: "root"
    mode: '0600'
  become: true
  register: copy_ssl_service

- name: copy-ssl.timer
  ansible.builtin.copy:
    content: |
      [Unit]
      Description=Copy SSL certificates to Caddy

      [Timer]
      OnCalendar=00:10:00

      [Install]
      WantedBy=timers.target
    dest: "/etc/systemd/system/copy-ssl.timer"
    owner: "root"
    group: "root"
    mode: '0600'
  become: true

- name: systemctl daemon-reload
  ansible.builtin.systemd: daemon_reload=true
  become: true

- name: systemctl enable copy-ssl.timer
  ansible.builtin.systemd: name=copy-ssl.timer enabled=true
  become: true

- name: systemctl start copy-ssl.service
  ansible.builtin.systemd: name=copy-ssl.service state=started
  become: true
  when: copy_ssl_service.changed

- name: systemctl --user daemon-reload
  ansible.builtin.systemd: daemon_reload=true scope=user
  become: true
  become_user: "{{ podman_user.name }}"

- name: systemctl --user enable --now traefik.service
  ansible.builtin.systemd: name=traefik.service state=started enabled=true scope=user
  become: true
  become_user: "{{ podman_user.name }}"
  ignore_errors: "{{ ansible_check_mode }}"

- name: systemctl --user enable --now tailscale-traefik.service
  ansible.builtin.systemd: name=tailscale-traefik.service state=started enabled=true scope=user
  become: true
  become_user: "{{ podman_user.name }}"
  ignore_errors: "{{ ansible_check_mode }}"
  when:
    - podman_user.traefik_tailscale_enable is defined
    - podman_user.traefik_tailscale_enable

- name: Set firewall rules for https
  ansible.posix.firewalld:
    rich_rule: rule family="ipv4" source address="{{ item }}" service name="https" accept
    #zone: "{{ firewalld_default_zone }}"
    permanent: true
    immediate: true
    state: enabled
  loop: "{{ podman_user.https_accept_source_ipv4 }}"
  become: true
  when:
    - podman_user.https_accept_source_ipv4 is defined
