---
# # Time zone
# TZ: "UTC"
#
# # Run podman under this users.
# # If the user does not exist it will create a new user.
# # To manage systemd services under different users add `-M username@` to `systemctl` command,
# # for example:
# #     sudo systemctl --user -M tux@ status transmission.service
# # To view journal under different user with UID 10000
# #     sudo journalctl _UID=10000 _SYSTEMD_USER_UNIT=transmission.service
# podman_users:
#
#   # Run Syncthing under user `tux`
#   - name: tux
#
#     # UID of the user
#     uid: 10000
#
#     # Enable lingering or not
#     enable_lingering: true
#
#     # How often to clean up old podman images/containers.
#     # This is the OnCalendar= option in podman-system-prune.timer
#     podman_system_prune_timer: daily
#
#     # List of containers that will run under user `tux`
#     containers:
#       - transmission
#
#     # transmission Web UI port
#     transmission_webui_port: 9091
#
#     # Path to store transmission container config
#     transmission_config_dir: "/path/to/container/config/transmission"
#
#     # Path to transmission download directory
#     transmission_downloads_dir: "/path/to/transmission/download/dir"
#
#     # Optionally, transmisison watch directory
#     #transmission_watch_dir: "/path/to/transmission/watch/dir"
#
#     # Optionally, add auth to transmission Web UI
#     transmission_user: tux
#     transmission_pass: !unsafe mypassword

- name: transmission container config direcoty
  ansible.builtin.file:
    path: "{{ podman_user.transmission_config_dir }}"
    state: directory
    owner: "{{ podman_user.name }}"
    group: "{{ podman_user.name }}"
    mode: '0700'
  become: true

- name: transmission.container
  ansible.builtin.template:
    src: transmission.container.j2
    dest: "/home/{{ podman_user.name }}/.config/containers/systemd/transmission.container"
    owner: "{{ podman_user.name }}"
    group: "{{ podman_user.name }}"
    mode: '0600'
  become: true
  become_user: "{{ podman_user.name }}"

- name: systemctl --user daemon-reload
  ansible.builtin.systemd_service: daemon_reload=true scope=user
  become: true
  become_user: "{{ podman_user.name }}"

- name: systemctl --user enable --now transmission.service
  ansible.builtin.systemd_service: name=transmission.service enabled=true state=started scope=user
  become: true
  become_user: "{{ podman_user.name }}"
  ignore_errors: "{{ ansible_check_mode }}"
