---
# # Time zone
# TZ: "UTC"
#
# # Run podman under this users.
# # If the user does not exist it will create a new user.
# # To manage systemd services under different users add `-M username@` to `systemctl` command,
# # for example:
# #     sudo systemctl --user -M tux@ status unifi.service
# #     sudo systemctl --user -M tux@ status unifi-db.service
# #     sudo systemctl --user -M tux@ status unifi-pod.service
# # To view journal under different user with UID 10000
# #     sudo journalctl _UID=10000 _SYSTEMD_USER_UNIT=unifi.service
# #     sudo journalctl _UID=10000 _SYSTEMD_USER_UNIT=unifi-db.service
# #     sudo journalctl _UID=10000 _SYSTEMD_USER_UNIT=unifi-pod.service
# podman_users:
#
#   # Run Syncthing under user `tux`
#   - name: tux
#
#     # UID of the user
#     uid: 10000
#
#     # Enable lingering or not
#     enable_lingering: true
#
#     # How often to clean up old podman images/containers.
#     # This is the OnCalendar= option in podman-system-prune.timer
#     podman_system_prune_timer: daily
#
#     # List of containers that will run under user `tux`
#     containers:
#       - unifi
#
#     # unifi Web UI port
#     unifi_webui_port: 4443
#
#     # Path to store unifi container config
#     unifi_config_dir: "/path/to/container/config/unifi"
#
#     # UniFi MongoDB password
#     unifi_db_pass: !unsafe xj9jKbfptRprydNwq9dmKjTPsDvxau
#
#     # Allow devices communication on these ports
#     # 3478/udp
#     # 10001/udp
#     # 8080/tcp
#     unifi_accept_source_ipv4:
#      - 192.168.1.0/24

- name: Check unifi database direcoty
  ansible.builtin.stat:
    path: "{{ podman_user.unifi_config_dir }}/unifi-db"
  register: unifi_database_dir
  become: true
  become_user: "{{ podman_user.name }}"

- name: unifi-controller container config direcoty
  ansible.builtin.file:
    path: "{{ podman_user.unifi_config_dir }}/{{ item }}"
    state: directory
    owner: "{{ podman_user.name}}"
    group: "{{ podman_user.name }}"
    mode: '0700'
  become: true
  loop:
    - unifi
    - unifi-db

- name: First time setup
  include_tasks: unifi-init.yml
  when: not unifi_database_dir.stat.exists

- name: unifi.pod, unifi-db.container and unifi.container
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "/home/{{ podman_user.name }}/.config/containers/systemd/{{ item }}"
    owner: "{{ podman_user.name}}"
    group: "{{ podman_user.name }}"
    mode: '0600'
  become: true
  become_user: "{{ podman_user.name }}"
  loop:
    - unifi.pod
    - unifi.container
    - unifi-db.container

- name: systemctl --user daemon-reload
  ansible.builtin.systemd: daemon_reload=true scope=user
  become: true
  become_user: "{{ podman_user.name }}"

- name: systemctl --user enable --now unifi-pod.service
  ansible.builtin.systemd: name=unifi-pod enabled=true state=started scope=user
  become: true
  become_user: "{{ podman_user.name }}"
  ignore_errors: "{{ ansible_check_mode }}"

- name: systemctl --user enable --now unifi-db.service
  ansible.builtin.systemd: name=unifi-db enabled=true state=started scope=user
  become: true
  become_user: "{{ podman_user.name }}"
  ignore_errors: "{{ ansible_check_mode }}"

- name: systemctl --user enable --now unifi.service
  ansible.builtin.systemd: name=unifi enabled=true state=started scope=user
  become: true
  become_user: "{{ podman_user.name }}"
  ignore_errors: "{{ ansible_check_mode }}"


# 3478/udp    UniFi STUN port
# 10001/udp   UniFi AP discovery
# 8080/tcp    UniFi device communication
- name: add unifi firewalld service file unifi.xml
  ansible.builtin.copy:
    content: |
      <?xml version="1.0" encoding="utf-8"?>
      <service>
        <short>UniFi</short>
        <description>UniFi controller.</description>
        <port protocol="udp" port="3478"/>
        <port protocol="udp" port="10001"/>
        <port protocol="tcp" port="8080"/>
      </service>
    dest: /etc/firewalld/services/unifi.xml
    owner: root
    group: root
    mode: '0644'
  become: true
  register: unifi_firewalld_file

- name: Reload firewalld when unifi.xml changed
  ansible.builtin.command: firewall-cmd --reload
  become: true
  when: unifi_firewalld_file.changed

- name: Enable firewall rules for UniFi
  ansible.posix.firewalld:
    rich_rule: rule family="ipv4" source address="{{ item }}" service name="unifi" accept
    #zone: "{{ firewalld_default_zone }}"
    permanent: yes
    immediate: yes
    state: enabled
  loop: "{{ podman_user.unifi_accept_source_ipv4 }}"
  become: true
  when: podman_user.unifi_accept_source_ipv4 is defined

