[Match]
Name={{ networkd_static.nic }}

[Network]
DHCP=no
Address={{ networkd_static.ip }}
{% if networkd_static.gateway is defined %}
Gateway={{ networkd_static.gateway }}
{% endif %}
{% if networkd_static.dns is defined %}
DNS={{ networkd_static.dns }}
{% endif %}
