[Unit]
Description=Copy SSL certificate to Caddy

[Service]
Restart=no
Type=simple
ExecStart=/usr/bin/rsync \
    --recursive \
    --copy-links \
    --delete \
    --chown=traefik:traefik \
    {{ podman_user.letsencrypt_config_dir }}/live/  {{ podman_user.traefik_config_dir }}/ssl
