[Unit]
Description=gluetun container
Wants=network-online.target
After=network-online.target nss-lookup.target
{% if "transmission" in podman_user.containers %}
Wants=transmission.service
{% endif %}
{% if "qbittorrent" in podman_user.containers %}
Wants=qbittorrent.service
{% endif %}
{% if "autobrr" in podman_user.containers and podman_user.autobrr_gluetun_proxy %}
Wants=autobrr.service
{% endif %}
{% if "thelounge" in podman_user.containers and podman_user.thelounge_gluetun_proxy %}
Wants=thelounge.service
{% endif %}

[Container]
ContainerName=gluetun
Image=ghcr.io/qdm12/gluetun:v3
AutoUpdate=registry
Timezone={{ TZ }}

AddCapability=NET_ADMIN
AddDevice=/dev/net/tun:/dev/net/tun

HostName=gluetun
{% if "transmission" in podman_user.containers %}
PublishPort=127.0.0.1:{{ podman_user.transmission_webui_port }}:9091/tcp
{% endif %}
{% if "qbittorrent" in podman_user.containers %}
PublishPort=127.0.0.1:{{ podman_user.qbittorrent_webui_port }}:{{ podman_user.qbittorrent_webui_port }}/tcp
{% endif %}
{% if "autobrr" in podman_user.containers and podman_user.autobrr_gluetun_proxy %}
PublishPort=127.0.0.1:{{ podman_user.autobrr_webui_port }}:{{ podman_user.autobrr_webui_port }}/tcp
{% endif %}
{% if "thelounge" in podman_user.containers and podman_user.thelounge_gluetun_proxy %}
PublishPort=127.0.0.1:{{ podman_user.thelounge_webui_port }}:{{ podman_user.thelounge_webui_port }}/tcp
{% endif %}

Environment=TZ={{ TZ }}
{% for item in podman_user.gluetun_vpn_provider_env %}
Environment={{ item }}
{% endfor %}

{% if podman_user.gluetun_httpproxy is defined and podman_user.gluetun_httpproxy %}
Environment=HTTPPROXY=on
Environment=HTTPPROXY_STEALTH=on
{% if podman_user.gluetun_httpproxy_port is defined %}
PublishPort=127.0.0.1:{{ podman_user.gluetun_httpproxy_port }}:8888/tcp
{% else %}
PublishPort=127.0.0.1:8888:8888/tcp
{% endif %}

{% endif %}

[Service]
Restart=on-failure
RestartSec=5
RestartMaxDelaySec=1h
RestartSteps=10

# Remove gluetun container and all containers depend on gluetun
ExecStartPre=-/usr/bin/podman rm --force --depend gluetun

# Extend Timeout to allow time to pull the image
TimeoutStartSec=300

[Install]
WantedBy=default.target
