# gluetun.service

[Unit]
Description=Podman gluetun.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers
{% if "transmission" in podman_user.containers %}
Wants=transmission.service
{% endif %}
{% if "qbittorrent" in podman_user.containers %}
Wants=qbittorrent.service
{% endif %}
{% if "deluge" in podman_user.containers %}
Wants=deluge.service
{% endif %}
{% if "autobrr" in podman_user.containers and podman_user.autobrr_gluetun_proxy %}
Wants=autobrr.service
{% endif %}

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=5
TimeoutStopSec=70
ExecStartPre=/bin/rm \
    -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
    --cidfile=%t/%n.ctr-id \
    --cgroups=no-conmon \
    --rm \
    --sdnotify=conmon \
    --detach \
    --replace \
    --label io.containers.autoupdate=registry \
    --name=gluetun \
    --cap-add=NET_ADMIN \
    --device=/dev/net/tun:/dev/net/tun \
    --env TZ={{ TZ }} \
{% for item in podman_user.gluetun_vpn_provider_env %}
    --env {{ item }} \
{% endfor %}
{% if podman_user.gluetun_firewall_vpn_input_ports is defined %}
    --env FIREWALL_VPN_INPUT_PORTS='{{ podman_user.gluetun_firewall_vpn_input_ports }}' \
{% endif %}
{% if "transmission" in podman_user.containers %}
    --publish 127.0.0.1:9091:9091/tcp \
{% endif %}
{% if "qbittorrent" in podman_user.containers %}
    --publish 127.0.0.1:8081:8081/tcp \
{% endif %}
{% if "deluge" in podman_user.containers %}
    --publish 127.0.0.1:8112:8112/tcp \
{% endif %}
{% if "autobrr" in podman_user.containers and podman_user.autobrr_gluetun_proxy %}
    --publish 127.0.0.1:7474:7474/tcp \
{% endif %}
{% if podman_user.gluetun_httpproxy %}
    --publish 127.0.0.1:8888:8888/tcp \
    --env HTTPPROXY=on \
    --env HTTPPROXY_STEALTH=on \
{% endif %}
    ghcr.io/qdm12/gluetun:latest
ExecStop=/usr/bin/podman stop \
    --ignore \
    --time=10 \
    --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm \
    --force \
    --ignore \
    --time=10 \
    --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
