[Unit]
Description=Grafana container
Wants=network-online.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=grafana
Pod=grafana-prometheus.pod
Image=docker.io/grafana/grafana:latest
AutoUpdate=registry

User={{ podman_user.uid }}
Group={{ podman_user.uid }}

Volume={{ podman_user.grafana_prometheus_config_dir }}/grafana:/var/lib/grafana:Z


[Service]
Restart=on-failure
RestartSec=5
RestartMaxDelaySec=1h
RestartSteps=10

# Extend Timeout to allow time to pull the image
TimeoutStartSec=300

[Install]
WantedBy=default.target
