[Unit]
Description=Grafana and Prometheus Pod
Wants=network-online.target
After=network-online.target nss-lookup.target

[Pod]
PodName=grafana-prometheus

UserNS=keep-id

HostName=grafana-prometheus
PublishPort=127.0.0.1:{{ podman_user.grafana_webui_port }}:{{ podman_user.grafana_webui_port }}/tcp


[Service]
Restart=on-failure
RestartSec=5
RestartMaxDelaySec=1h
RestartSteps=10

# Extend Timeout to allow time to pull the image
TimeoutStartSec=300

[Install]
WantedBy=default.target
