# https://github.com/linuxserver/docker-jellyfin

[Unit]
Description=jellyfin container
Wants=network-online.target
After=network-online.target
Requires=podman-bridges.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/podman kill jellyfin
ExecStartPre=-/usr/bin/podman rm jellyfin
ExecStartPre=/usr/bin/podman pull lscr.io/linuxserver/jellyfin:latest
ExecStart=/usr/bin/podman run \
        --detach \
        --name=jellyfin \
        --network {{ jellyfin_bridge_name }}:ip={{ jellyfin_container_ip }} \
        --replace \
        --restart unless-stopped \
        -e PUID=1000 \
        -e PGID=1000 \
        -e TZ={{ timezone }} \
        -v {{ container_configs_dir.path }}/jellyfin:/config \
{% for item in jellyfin_media_dir %}
        -v {{ item.src }}:/data/{{ item.name }}:ro \
{% endfor %}
        lscr.io/linuxserver/jellyfin:latest
ExecStop=/usr/bin/podman stop jellyfin

Type=forking
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
