[Unit]
Description=letsencrypt certbot
Wants=network-online.target
After=network-online.target

[Service]
Restart=no
TimeoutStopSec=120
Type=simple
ExecStart=/usr/bin/podman run \
    --rm \
    --replace \
    --dns {{ DNS }} \
    --name certbot \
    --volume {{ podman_user.letsencrypt_config_dir }}:/etc/letsencrypt:Z \
    docker.io/certbot/dns-cloudflare certonly \
        --dns-cloudflare \
        --dns-cloudflare-credentials /etc/letsencrypt/cloudflare.ini \
        --dns-cloudflare-propagation-seconds 60 \
        --email {{ podman_user.letsencrypt_email }} \
{% for domain in podman_user.letsencrypt_domains %}
        --domains '{{ domain }}' \
{% endfor %}
        --agree-tos \
        --keep-until-expiring \
        --expand \
        --non-interactive

