[Unit]
Description=qBittorrent container
Wants=gluetun.service
After=gluetun.service
Requires=gluetun.service

[Container]
ContainerName=qbittorrent
Image=ghcr.io/qbittorrent/docker-qbittorrent-nox:latest
AutoUpdate=registry
Timezone={{ TZ }}

Volume={{ podman_user.qbittorrent_config_dir }}:/config:Z
Volume={{ podman_user.qbittorrent_downloads_dir }}:/downloads:Z

HostName=qbittorrent
Network=container:gluetun

Environment=TZ={{ TZ }}
Environment=QBT_WEBUI_PORT={{ podman_user.qbittorrent_webui_port }}
Environment=QBT_LEGAL_NOTICE=confirm

UserNS=keep-id

StopTimeout=60


[Service]
Restart=on-failure
RestartSec=5
RestartMaxDelaySec=1h
RestartSteps=10

# Extend Timeout to allow time to pull the image
TimeoutStartSec=300

[Install]
WantedBy=default.target
