#https://github.com/linuxserver/docker-swag

[Unit]
Description=linuxserver/SWAG (Secure Web Application Gateway)
Wants=network-online.target
After=network-online.target nss-lookup.target
Requires=podman-bridges.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/podman kill swag
ExecStartPre=-/usr/bin/podman rm swag
ExecStartPre=/usr/bin/podman pull lscr.io/linuxserver/swag:latest
ExecStart=/usr/bin/podman run \
        --detach \
        --name=swag \
        --network {{ swag_bridge_name }}:ip={{ swag_container_ip }} \
        --replace \
        --restart unless-stopped \
        --cap-add=NET_ADMIN \
        -e PUID=1000 \
        -e PGID=1000 \
        -e TZ={{ timezone }} \
        -e URL={{ swag_domain }} \
        -e SUBDOMAINS={{ swag_subdomains }} \
        -e VALIDATION=dns \
        -e DNSPLUGIN=cloudflare \
        -e CERTPROVIDER=zerossl \
        -e EMAIL=qiangbq@gmail.com \
        -e ONLY_SUBDOMAINS=true \
        -e STAGING=false \
        -p 443:443 \
        -v {{ container_configs_dir.path }}/swag:/config \
        lscr.io/linuxserver/swag:latest
ExecStop=/usr/bin/podman stop swag

Type=forking
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
