# syncthing.service

[Unit]
Description=Podman syncthing.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target nss-lookup.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm \
    -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
    --cidfile=%t/%n.ctr-id \
    --cgroups=no-conmon \
    --rm \
    --sdnotify=conmon \
    --detach \
    --replace \
    --label io.containers.autoupdate=registry \
    --dns={{ DNS }} \
    --uidmap 1000:0:1 \
    --uidmap 0:1:1000 \
    --uidmap 1001:1001:64536 \
    --name=syncthing \
    --hostname=syncthing \
    --env PUID=1000 \
    --env PGID=1000 \
    --env TZ={{ TZ }} \
    --publish 127.0.0.1:8384:8384/tcp \
    --publish 22000:22000/tcp \
    --volume {{ podman_user.syncthing_config_dir }}:/config:Z \
{% for item in podman_user.syncthing_data_dirs %}
    --volume {{ item.src }}:{{ item.dest }}:rw \
{% endfor %}
    lscr.io/linuxserver/syncthing:latest
ExecStop=/usr/bin/podman stop \
    --ignore \
    --time=10 \
    --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm \
    --force \
    --ignore \
    --time=10 \
    --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
