[Unit]
Description=Syncthing container

[Container]
ContainerName=syncthing
Image=lscr.io/linuxserver/syncthing:latest
AutoUpdate=registry

Volume={{ podman_user.syncthing_config_dir }}:/config:Z
{% for item in podman_user.syncthing_data_dirs %}
Volume={{ item.src }}:{{ item.dest }}:Z
{% endfor %}

HostName=syncthing
{% if podman_user.syncthing_web_port is defined %}
PublishPort=127.0.0.1:{{ podman_user.syncthing_web_port }}:8384/tcp
{% else %}
PublishPort=127.0.0.1:8384:8384/tcp
{% endif %}
{% if podman_user.syncthing_sync_port is defined %}
PublishPort={{ podman_user.syncthing_sync_port }}:22000/tcp
{% else %}
PublishPort=22000:22000/tcp
{% endif %}

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ={{ TZ }}

UIDMap=1000:0:1
UIDMap=0:1:1000
UIDMap=1001:1001:64536


[Service]
Restart=on-failure

# Extend Timeout to allow time to pull the image
TimeoutStartSec=300

[Install]
WantedBy=default.target
