# https://github.com/linuxserver/docker-syncthing

[Unit]
Description=Syncthing container
Wants=network-online.target
After=network-online.target
Requires=podman-bridges.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/podman kill syncthing
ExecStartPre=-/usr/bin/podman rm syncthing
ExecStartPre=/usr/bin/podman pull lscr.io/linuxserver/syncthing:latest
ExecStart=/usr/bin/podman run \
        --detach \
        --name=syncthing \
        --network {{ syncthing_bridge_name }}:ip={{ syncthing_container_ip }} \
        --replace \
        --restart unless-stopped \
        -e PUID=1000 \
        -e PGID=1000 \
        -e TZ={{ timezone }} \
        -p 22000:22000/tcp \
        -p 22000:22000/udp \
        -v {{ container_configs_dir.path }}/syncthing:/config \
{% for item in syncthing_data_dir %}
        -v {{ item.src }}:/{{ item.name }} \
{% endfor %}
        lscr.io/linuxserver/syncthing:latest
ExecStop=/usr/bin/podman stop syncthing

Type=forking
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
