[Unit]
Description=tailscale container
Wants=network-online.target
After=network-online.target nss-lookup.target
Wants=traefik.service

[Container]
ContainerName=tailscale-traefik
Image=ghcr.io/tailscale/tailscale:latest
AutoUpdate=registry

AddCapability=NET_ADMIN
AddDevice=/dev/net/tun:/dev/net/tun

Volume={{ podman_user.tailscale_config_dir }}/:/var/lib/tailscale:Z

HostName=tailscale-traefik
PublishPort=443:443/tcp
{% if podman_user.traefik_forward_ports is defined %}
Network=pasta:
{%- for port in podman_user.traefik_forward_ports -%}
--tcp-ns,{{ port }}{{ "," if not loop.last else "" }}
{%- endfor %}
{% endif %}

Environment=TS_STATE_DIR=/var/lib/tailscale
{% if podman_user.tailscale_hostname is defined %}
Environment=TS_HOSTNAME={{ podman_user.tailscale_hostname }}
{% else %}
Environment=TS_HOSTNAME=tailscale-traefik-container
{% endif %}
{% if podman_user.tailscale_args is defined %}
{% for arg in podman_user.tailscale_args %}
Environment=TS_EXTRA_ARGS={{ arg }}
{% endfor %}
{% endif %}


[Service]
Restart=on-failure
RestartSec=5
RestartMaxDelaySec=1h
RestartSteps=10

# Remove tailscale-traefik container and all containers depend on tailscale-traefik
ExecStartPre=-/usr/bin/podman rm --force --depend tailscale-traefik

# Extend Timeout to allow time to pull the image
TimeoutStartSec=300

[Install]
WantedBy=default.target
