# tailscale.service

[Unit]
Description=Podman tailscale.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target nss-lookup.target
{% if "swag" in podman_user.containers %}
Requires=swag.service
{% endif %}
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStart=/usr/bin/podman run \
    --cidfile=%t/%n.ctr-id \
    --cgroups=no-conmon \
    --rm \
    --sdnotify=conmon \
    --detach \
    --name=tailscale \
    --replace \
    --label io.containers.autoupdate=registry \
    --userns=keep-id:uid=1000,gid=1000 \
{% if "swag" in podman_user.containers %}
    --network=container:swag \
{% endif %}
    --volume {{ podman_user.tailscale_config_dir }}:/var/lib:Z \
    --env TS_STATE_DIR=/var/lib/tailscale \
    --env TS_USERSPACE=true \
    --env TS_ACCEPT_DNS=true \
    docker.io/tailscale/tailscale
ExecStop=/usr/bin/podman stop \
    --ignore \
    --time=10 \
    --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm \
    --force \
    --ignore \
    --time=10 \
    --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
