# thelounge.service

[Unit]
Description=Podman thelounge.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target gluetun.service
After=network-online.target gluetun.service
Requires=gluetun.service
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm \
    -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
    --cidfile=%t/%n.ctr-id \
    --cgroups=no-conmon \
    --rm \
    --sdnotify=conmon \
    --detach \
    --replace \
    --label io.containers.autoupdate=registry \
    --userns keep-id:uid=1000,gid=1000 \
    --name thelounge \
    --network=container:gluetun \
    --volume {{ podman_user.thelounge_config_dir }}:/var/opt/thelounge:Z \
    docker.io/thelounge/thelounge:latest
ExecStop=/usr/bin/podman stop \
    --ignore \
    --time 10 \
    --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm \
    -f \
    --ignore --time 10 \
    --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
