# container-transmission.service

[Unit]
Description=Podman container-transmission.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target gluetun.service
Requires=gluetun.service
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm \
    -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
    --cidfile=%t/%n.ctr-id \
    --cgroups=no-conmon \
    --rm \
    --sdnotify=conmon \
    --detach \
    --replace \
    --label io.containers.autoupdate=registry \
    --uidmap 1000:0:1 \
    --uidmap 0:1:1000 \
    --uidmap 1001:1001:64536 \
    --name=transmission \
    --network=container:gluetun \
    --env PUID=1000 \
    --env PGID=1000 \
    --env TZ={{ TZ }} \
    --volume {{ podman_user.container_configs_dir }}/transmission:/config:Z \
    --volume {{ podman_user.torrents_dir }}:/downloads:Z \
    --volume {{ podman_user.torrent_files_dir }}:/watch:Z \
    lscr.io/linuxserver/transmission:latest
ExecStop=/usr/bin/podman stop \
    --ignore \
    --time=10 \
    --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm \
    --force \
    --ignore \
    --time=10 \
    --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
