[Unit]
Description=Transmission container
Wants=gluetun.service
After=gluetun.service
Requires=gluetun.service

[Container]
ContainerName=transmission
Image=lscr.io/linuxserver/transmission:latest
AutoUpdate=registry

Volume={{ podman_user.transmission_config_dir }}:/config:Z
Volume={{ podman_user.transmission_downloads_dir }}:/downloads:Z
{% if podman_user.transmission_watch_dir is defined %}
Volume={{ podman_user.transmission_watch_dir }}:/watch:Z
{% endif %}

HostName=transmission
Network=container:gluetun

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ={{ TZ }}
{% if podman_user.transmission_user is defined %}
Environment=USER={{ podman_user.transmission_user }}
Environment=PASS='{{ podman_user.transmission_pass }}'
{% endif %}

UIDMap=1000:0:1
UIDMap=0:1:1000
UIDMap=1001:1001:64536


[Service]
Restart=on-failure

# Extend Timeout to allow time to pull the image
TimeoutStartSec=300

# Wait 30 sec for gluetun complete
ExecStartPre=/usr/bin/sleep 30

[Install]
WantedBy=default.target
