[Unit]
Description=UniFi and MongoDB Pod

[Pod]
PodName=unifi

HostName=unifi
PublishPort=127.0.0.1:{{ podman_user.unifi_webui_port }}:{{ podman_user.unifi_webui_port }}/tcp
PublishPort=3478:3478/udp
PublishPort=10001:10001/udp
PublishPort=8080:8080/tcp

UIDMap=1000:0:1
UIDMap=0:1:1000
UIDMap=1001:1001:64536


[Service]
Restart=on-failure
RestartSec=5
RestartMaxDelaySec=1h
RestartSteps=10

# Extend Timeout to allow time to pull the image
TimeoutStartSec=300

[Install]
WantedBy=default.target
