db.getSiblingDB("unifi").createUser({user: "unifi", pwd: "{{ podman_user.unifi_db_pass }}", roles: [{role: "dbOwner", db: "unifi"}]});
db.getSiblingDB("unifi_stat").createUser({user: "unifi", pwd: "{{ podman_user.unifi_db_pass }}", roles: [{role: "dbOwner", db: "unifi_stat"}]});
