[Unit]
Description=MongoDB for UniFi container

[Container]
ContainerName=unifi-db
Pod=unifi.pod
Image=docker.io/mongo:7.0
AutoUpdate=registry
Timezone={{ TZ }}

User=1000
Group=1000

Volume={{ podman_user.unifi_config_dir }}/unifi-db:/data/db:Z
{% if not unifi_database_dir.stat.exists %}
Volume={{ unifi_db_tmp_dir.path }}/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:Z,ro
{% endif %}


[Service]
Restart=on-failure
RestartSec=5
RestartMaxDelaySec=1h
RestartSteps=10

# Remove unifi-db container and all containers depend on unifi-db
ExecStartPre=-/usr/bin/podman rm --force --depend unifi-db

# Extend Timeout to allow time to pull the image
TimeoutStartSec=300

[Install]
WantedBy=default.target
