[Unit]
Description=UniFi container
Wants=unifi-db.service
After=unifi-db.service
Requires=unifi-db.service

[Container]
ContainerName=unifi
Pod=unifi.pod
Image=lscr.io/linuxserver/unifi-network-application:latest
AutoUpdate=registry
Timezone={{ TZ }}

Volume={{ podman_user.unifi_config_dir }}/unifi:/config:Z

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ={{ TZ }}

{% if not unifi_database_dir.stat.exists %}
Environment=MONGO_USER=unifi
Environment=MONGO_PASS={{ podman_user.unifi_db_pass }}
Environment=MONGO_HOST=localhost
Environment=MONGO_PORT=27017
Environment=MONGO_DBNAME=unifi
{% endif %}

[Service]
Restart=on-failure
RestartSec=5
RestartMaxDelaySec=1h
RestartSteps=10

{% if not unifi_database_dir.stat.exists %}
# Wait MongoDB initialization
ExecStartPre=/usr/bin/sleep 5

{% endif %}
# Extend Timeout to allow time to pull the image
TimeoutStartSec=300

[Install]
WantedBy=default.target
