---
- name: pacman -S nfs-utils
  community.general.pacman: name=nfs-utils state=present
  become: true
  when: ansible_facts["distribution"] == "Archlinux"

- name: dnf install nfs-utils
  ansible.builtin.dnf: name=nfs-utils state=present
  become: true
  when: ansible_facts["distribution"] == "Fedora"

- name: Create NFS directories
  ansible.builtin.file:
    path: "{{ item.bind }}"
    state: directory
  loop: "{{ nfs_mount_point }}"
  become: true
  when: item.bind is defined

- name: Add bind mount to /etc/fstab
  ansible.builtin.lineinfile:
    path: /etc/fstab
    regexp: "^{{ item.target }}\\s+{{item.bind }}"
    line: "{{ item.target }}  {{item.bind }}  none  bind  0 0"
    state: present
  loop: "{{ nfs_mount_point }}"
  become: true
  when: item.bind is defined

- name: add root mount to /etc/exports
  ansible.builtin.lineinfile:
    path: /etc/exports
    regexp: "^{{ nfs_root }}\\s+"
    line: "{{ nfs_root }}  {{ nfs_root_ip_opt }}"
    state: present
  become: true

- name: add other mount points to /etc/exports (bind mount)
  ansible.builtin.lineinfile:
    path: /etc/exports
    regexp: "^{{ item.bind }}\\s+"
    line: "{{ item.bind }}  {{ item.ip_opt }}"
    state: present
  loop: "{{ nfs_mount_point }}"
  become: true
  when: item.bind is defined

- name: add other mount points to /etc/exports (no bind mount)
  ansible.builtin.lineinfile:
    path: /etc/exports
    regexp: "^{{ item.target }}\\s+"
    line: "{{ item.target }}  {{ item.ip_opt }}"
    state: present
  loop: "{{ nfs_mount_point }}"
  become: true
  when: item.bind is not defined

#- name: Add custom NFS rule to UFW
#  ansible.builtin.blockinfile:
#    path: /etc/ufw/applications.d/ufw-custom
#    block: | 
#      [NFS-custom]
#      title=NFS server
#      description=NFS server
#      ports=2049/tcp
#    create: true
#    marker: "; NFS {mark} ANSIBLE MANAGED BLOCK"
#
#- name: Configure firewall for NFS
#  community.general.ufw:
#    rule: allow
#    direction: in
#    name: NFS-custom
#    from: "{{ item }}"
#    comment: "Allow NFS from {{ item }}"
#  loop: "{{ nfs_allow_ip }}"
#
- name: Set firewall rules for NFS
  ansible.posix.firewalld:
    rich_rule: rule family="ipv4" source address="{{ item }}" service name="nfs" accept
    #zone: "{{ firewalld_default_zone }}"
    permanent: true
    immediate: true
    state: enabled
  loop: "{{ nfs_accept_source_ipv4 }}"
  when: nfs_accept_source_ipv4 is defined
  become: true

- name: (ArchLinux) systemctl enable nfsv4-server.service
  ansible.builtin.systemd_service: name=nfsv4-server.service enabled=true
  become: true
  when: ansible_facts["distribution"] == "Archlinux"

- name: (ArchLinux) systemctl mask rpcbind.service rpcbind.socket nfs-server.service
  ansible.builtin.systemd_service: name={{ item }} enabled=false masked=true
  become: true
  loop:
    - rpcbind.service
    - rpcbind.socket
    - nfs-server.service
  when: ansible_facts["distribution"] == "Archlinux"

- name: (Fedora) systemctl enable nfs-server.service
  ansible.builtin.systemd_service: name=nfs-server.service enabled=true
  become: true
  when: ansible_facts["distribution"] == "Fedora"

